.contacts{
  &__wrapper{
    max-width: 1560px;
    margin: 0 auto;
    height: 550px;
    display: flex;
  }

  &__contact-block{
    width: 50%;
    padding-bottom: 60px;
    padding-top: 55px;
    background: url("/img/contacts_bg.jpg") no-repeat left bottom;
    background-size: cover;
  }

  &__contact-block-wrapper{
    padding: 0 20px 0 40px;
    max-width: 470px;
    margin-left: auto;
  }

  &__title{
    max-width: 280px;
    font-size: 40px;
    line-height: 1.25;
    color: #ffffff;
    position: relative;

    &::before{
      content: 'КОНТАКТЫ';
      position: absolute;
      top: 0;
      left: -99px;
      font-size: 12px;
      color: #ddc777;
      transform: rotate(-90deg) translateX(-50%);
      font-family: 'Gilroy';
      font-weight: 300;
    }
  }

  &__text{
    margin-top: 15px;
    max-width: 385px;
    color: rgba(255, 255, 255, 0.3);
    line-height: 1.571428571;
  }

  &__input-rows{
    padding-left: 5px;
    margin-top: 20px;
    max-width: 300px;
  }

  &__row{
    margin-top: 50px;

    &--btn{
      margin-top: 30px;
    }
  }

  &__phone{
    &:before{
    }
  }

  &__address{
    &:before{
    }
  }

  &__map-wrapper{
    width: 50%;
    height: 100%;
  }

  &__map{
    height: 100%;
    width: 100%;
  }
}

.leaflet-marker-shadow{
  max-width: none;
}

.contacts-input{
  position: relative;

  &__label{
    background-color: transparent;
    position: absolute;
    color: #ddc777;
    font-size: 14px;
  }

  &__label-text{
    position: absolute;
    top: -17px;
    left: 0;
    font-size: inherit;
    text-align: center;
    color: inherit;
  }

  &__num-label{
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    bottom: 0;
    height: 35px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.2);
    transition: .3s;
  }

  &__input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.5);
    transition: .3s;

    &::placeholder{
      color: rgba(255, 255, 255, 0.2);
      transition: .3s;
    }

    &:focus{
      border-color: rgba(255, 255, 255, 0.6);
      color: rgba(255, 255, 255, 0.7);

      &::placeholder{
        color: rgba(255, 255, 255, 0.4);
      }

      & ~ .contacts-input__num-label{
        border-color: rgba(255, 255, 255, 0.6);
        color: rgba(255, 255, 255, 0.7);
      }
    }

    &--tel{
      margin-left: 35px;
      width: ~'calc(100% - 35px)';
    }
  }

  &__btn{}
}

.form-row__validation-wrap.error:not(.filling) .form-row__input.contacts-input__input{
  border: none;
  border-bottom: 1px solid rgba(214, 81, 55, 0.5);
  background: transparent;

  & ~ .contacts-input__num-label{
    border-color: rgba(214, 81, 55, 0.5);
    color: rgba(214, 81, 55, 0.5);
  }

  &:focus{
    border-color: rgba(214, 81, 55, 0.7);

    & ~ .contacts-input__num-label{
      border-color: rgba(214, 81, 55, 0.7);
      color: rgba(214, 81, 55, 0.7);
    }
  }

}

.contact-popup{
  position: relative;

  &__wrapper{
    position: absolute;
    transform: translate(-190px, -100%);
    width: 320px;
    box-sizing: border-box;
    padding: 20px 10px 25px 50px;
    font-weight: 500;
    color: #232323;
    background: #ffffff;
    box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.15);

    &::before{
      content: "";
      position: absolute;
      background-color: #ffffff;
      right: 90px;
      bottom: -10px;
      width: 20px;
      height: 20px;
      z-index: -1;
      transform: rotate(45deg);
      box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.15);
    }
  }

  &__phone{
    position: relative;
    font-size: 18px;
    color: #232323;
    letter-spacing: .06em;

    &::before{
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
      background: url("/img/phone.png") no-repeat center;
    }
  }

  &__addr{
    position: relative;
    margin-top: 10px;
    line-height: 1.3;
    color: #232323;

    &::before{
      content: '';
      position: absolute;
      width: 18px;
      height: 23px;
      left: -30px;
      top: 50%;
      transform: translateY(-50%);
      background: url("/img/location.png") no-repeat center;
    }
  }
}

.gm-style-iw{
  max-width: 320px!important;
  overflow: visible!important;
  left: -3px !important;
  top: 30px !important;

  &+div{
    display: none;
  }

  &>div{
    overflow: visible!important;
    &>div{
      overflow: visible!important;
    }
  }
}