.footer{
  background-color: #ffffff;
  position: relative;

  &__wrap{
    max-width: 1500px;
    padding: 30px 30px 25px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copy{
    color: rgba(51, 51, 51, 0.5);
    font-size: 16px;
    letter-spacing: .02em;
  }

  &__wonderbar-wrap{
    display: flex;
    justify-content: flex-end;
  }

  &__help{
    max-width: 60px;
    margin-right: 15px;
    color: rgba(51, 51, 51, 0.5);
    font-size: 11px;
    letter-spacing: .02em;
    line-height: 1.5;
  }

  &__disclaimer{
    max-width: 700px;
    width: ~'calc(100% - 500px)';
    color: rgba(51, 51, 51, 0.5);
    font-size: 12px;
    letter-spacing: .02em;
    line-height: 1.2;
  }

  &__img{}
}