.stages{
  &__top-wrapper{
    max-width: 980px;
    margin: 0 auto;
    padding: 150px 40px 135px;
    display: flex;
  }

  &__col1{
    max-width: 500px;
  }

  &__title{
  }

  &__text{
  }

  &__col2{
    display: flex;
  }

  &__radial-col{}

  &__radial{
    width: 200px;
  }

  &__percent-col{}

  &__percent-text{
    font-style: italic;
    font-weight: normal;
    line-height: 18px;
    color: #000000;
  }

  &__percent-digit-wrap{
    color: #ddc777;
    font-size: 60px;
    font-weight: 300;
    line-height: 1;
  }

  &__percent-digit{
    font-size: 84px;
  }

  &__date-list-wrapper{
    overflow: hidden;
    display: flex;
  }

  &__list{
    display: flex;
    position: relative;
    left: 0;
    transition: .7s;
  }

  &__item{
    margin: 0 5px;
  }

  &__item-btn{
    display: inline-block;
    box-sizing: border-box;
    height: 46px;
    padding: 15px 20px;
    border: 2px solid transparent;
    cursor: pointer;
    user-select: none;
    color: rgba(49, 49, 49, 0.6);
    font-size: 12px;
    letter-spacing: 0.1em;
    background-color: transparent;
    transition: .3s;

    &.is-active{
      color: #313131;
      font-weight: 600;
      border-color: #ddc777;
    }
  }

  &__stage-wrapper{
    max-width: 820px;
    margin: 0 auto;
    padding: 20px 40px 75px;
  }

  &__fotorama{}

  &__stage-text{}
}