.title-block{
  box-sizing: border-box;
  height: 821px;
  padding: 25px 30px;
  background: url("/img/title_bg.jpg?2") no-repeat center bottom / cover;
  position: relative;
  z-index: 1;

  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0 , 0);
    height: 100%;
    width: 100%;
    max-width: 1560px;
    background: url("/img/title_moon.png") no-repeat 27px 5px,
                url("/img/title_snowflake-brown.png") no-repeat 84.5% 120px,
                url("/img/title_small-toys.png") no-repeat 100% 0,
                url("/img/title_big-toy.png") no-repeat 100% 0,
                url("/img/title_snowflake-transparent.png") no-repeat ~'calc(100% + 5px)' 400px,
                url("/img/title_border.png") no-repeat 65px 151px;
  }

  &__header{
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
  }

  &__content{
    position: relative;
    z-index: 2;
    padding: 40px 0 0 35px;
    max-width: 1465px;
    margin: 0 auto;
  }

  &__text-wrap{
    position: absolute;
    right: 28%;
    top: 95px;
  }

  &__title{
    font-size: 27px;
    font-weight: bold;
    line-height: 1;
    font-family: "Gilroy", "Arial", sans-serif;
    color: #FFFFFF;
  }

  &__address{
    margin-top: 10px;
    padding-left: 35px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #FFFFFF;
  }

  &__price-wrap{
    margin-top: 15px;
    position: relative;
    display: flex;
    padding-left: 5px;
  }

  &__price{
    position: relative;
    font-family: 'RozhaOne';
    font-size: 118px;
    line-height: .8;
    letter-spacing: -0.004em;
    color: transparent;
    background: #c3b06a;
    background: -moz-linear-gradient(45deg, #c3b06a 0%, #eade85 17%, #c3b06a 61%, #eade85 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #c3b06a), color-stop(17%, #eade85), color-stop(61%, #c3b06a), color-stop(100%, #eade85));
    background: -webkit-linear-gradient(45deg, #c3b06a 0%, #eade85 17%, #c3b06a 61%, #eade85 100%);
    background: -o-linear-gradient(45deg, #c3b06a 0%, #eade85 17%, #c3b06a 61%, #eade85 100%);
    background: -ms-linear-gradient(45deg, #c3b06a 0%, #eade85 17%, #c3b06a 61%, #eade85 100%);
    background: repeating-linear-gradient(4deg, #eade85 0%, #c3b06a 17%, #eade85 61%, #c3b06a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3b06a', endColorstr='#eade85', GradientType=1 );
    -webkit-background-clip: text;

    &::before{
      content: 'от';
      position: relative;
      font-family: "Gilroy", "Arial", sans-serif;
      font-size: 30px;
      left: -8px;
      bottom: 45px;
      color: #ffffff;
      text-shadow: none;
    }

    &--bg{
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      color: #000000;
      text-shadow: 1px 1px 1px rgba(17, 31, 65, 0.62);
    }
  }

  &__t-m{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }

  &__t{
    font-size: 32px;
    line-height: 1;
    font-family: "Tenge";
    color: #ffffff;
    background: linear-gradient(left,#fff,#fff 100%);
    background-position: center bottom;
    background-size: 17px 2px;
    background-repeat: no-repeat;
  }

  &__m{
    line-height: 1;
    font-size: 30px;
    color: #ffffff;

    sup{
      position: absolute;
      font-size: 16px;
      font-weight: 600;
    }
  }

  &__installment{
    position: absolute;
    top: 520px;
    left: 250px;
  }
}

.installment{
  display: flex;
  align-items: center;
  height: 63px;
  width: 287px;
  padding-left: 90px;
  box-sizing: border-box;
  background: url("/img/title_installment-symbol.png") no-repeat 28px 50%,
              url("/img/title_installment-bg.png") no-repeat center / cover;

  &__container{
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: .19em;
    color: #ffffff;
  }
}

.fixed-header{
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 13px 30px 12px 25px;
  background-color: #232323;

  &__header{
    max-width: 1500px;
    margin: 0 auto;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__menu-button{
    display: none;
  }

  &__nav-wrap{
    position: relative;
    z-index: 10;
    max-width: 700px;
    margin: 0 60px;
    width: 100%;
  }

  &__nav-list{
    display: flex;
    justify-content: space-between;
  }

  &__nav-item{
    &:hover{
      &::before{
        opacity: 1;
      }
    }

    &--fixed{
      position: relative;

      &:hover{
        .header__nav-link{
          color: #f3e694;
        }
      }

      &::before{
        content: '';
        position: absolute;
        opacity: 0;
        z-index: -1;
        top: -32px;
        left: 50%;
        transform: translateX(-50%);
        background: url("/img/nav_link_lamp.png") no-repeat center;
        width: 134px;
        height: 37px;
        transition: .3s;
      }

      &.is-active{
        &::before{
          opacity: 1;
        }

        .header__nav-link{
          color: #f3e694;
        }
      }
    }
  }

  &__nav-link{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 0.05em;
    transition: color .3s;

    &:hover{
      color: #f3e694;
    }
  }

  &__logo-wrap{
    position: relative;
    z-index: 9;
    padding-bottom: 13px;
    flex-shrink: 0;

    &--fixed{
      padding-bottom: 0;
    }
  }

  &__logo-link{
    font-size: 0;
  }

  &__logo{
    &--fixed{
      max-height: 62px;
    }
  }

  &__feedback-wrap{
    display: flex;
    text-align: right;
    position: relative;
    z-index: 9;
    flex-shrink: 0;
  }

  &__phone-wrap{
    margin-right: 30px;
  }

  &__consult{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
    font-style: italic;
    font-weight: 300;
    letter-spacing: .05em;
  }

  &__phone-number{
    margin-top: 2px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .05em;
    color: #ffffff;
    line-height: 1;
  }

  &__phone-number-link{
    color: inherit;
  }

  &__order-call{
  }

  &__btn-text{
  }
}

.discount-info{
  display: none;
  width: 100%;
  z-index: 10;

  &__wrapper{
    position: relative;
  }

  &__interest-text{
    padding-left: 5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: .2em;
    color: #1b1b1b;
  }

  &__input-rows{
    position: relative;
    z-index: 1;
    padding-left: 5px;
    margin-top: 20px;
    max-width: 300px;
  }

  &__row{
    margin-top: 15px;

    &--btn{
      margin-top: 20px;
    }
  }

  &__close{
    background: url("/img/popup_close.png") no-repeat center;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 18px;
    top: 16px;
    cursor: pointer;
    opacity: .7;
    transition: .3s;

    &:hover{
      opacity: 1;
    }
  }

  &__new-year-discounts{
  }

  &__container{
    padding: 20px 20px 35px;
    background: url("/img/form_lighter.png?1") no-repeat left bottom / 397px 360px, url("/img/popup_bg.png?1") repeat;
  }

  &__condition{
    position: relative;
    top: 2px;
    max-width: 97px;
    padding-left: 15px;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: .05em;
    color: #232323;
  }

  &__bold{
    font-weight: 800;
  }

  &__btn{
    border-radius: 4px;
  }
}

.popup-input{
  position: relative;

  &.error:not(.filling){
    .popup-input{
      &__input{
        background-color: #fff;

        &:focus{
          background-color: #fff;
        }
      }

      &__label{
        &--tel{
          border-color: #d65137;
        }
      }
    }
  }

  &__label{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 55px;
    font-size: 16px;
    border-radius: 5px;
    color: #201306;
    transition: .3s;

    &--name{
    }

    &--tel{
      height: 48px;
      width: 47px;
      border: 1px solid #fff;
      background-color: #fff;
    }
  }

  &__label-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    font-size: inherit;
    text-align: center;
    color: inherit;
  }

  &__input{
    background-color: #fff;
    border: 1px solid #fff;
    padding: 0 30px 0 80px;
    font-size: 18px;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    color: #201306;
    letter-spacing: 0.04em;
    border-radius: 4px;
    transition: .3s;

    &:focus{
      border-color: #bbbbbb;

      & ~ .popup-input{
        &__label {
          border-color: #bbbbbb;
        }
      }
    }

    &--tel{
      width: ~'calc(100% - 60px)';
      margin-left: 60px;
      padding-left: 20px;
    }
  }

  &__btn{}
}

.menu-button{
  box-sizing: border-box;
  width: 57px;
  height: 62px;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  cursor: pointer;

  &.is-open{
    .menu-button{
      &__top{
        transform: rotate(45deg);
        width: 11px;
        top: 5px;
        left: 1px;
      }

      &__middle{
        transform: rotate(-45deg);
        width: 22px;
      }

      &__bottom{
        transform: rotate(45deg);
        width: 11px;
        left: 9px;
        bottom: 5px;
      }
    }
  }

  &__rows-wrap{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__top{
    display: block;
    position: relative;
    left: 0;
    top: 0;
    height: 2px;
    width: 20px;
    background-color: #c2ae68;
    transition: .3s
  }

  &__middle{
    margin-top: 7px;
    display: block;
    position: relative;
    height: 2px;
    width: 20px;
    background-color: #c2ae68;
    transition: .3s
  }

  &__bottom{
    margin-top: 7px;
    display: block;
    position: relative;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 20px;
    background-color: #c2ae68;
    transition: .3s
  }
}
