@media screen and (max-width: 1100px) {
  .about{
    &__wrapper{
      &::before{
      }
    }

    &__text-col{
      width: 45%;
    }

    &__tagline{
      margin-top: 0;
      padding-top: 110px;
    }

    &__tagline-text-wrap{
      &::before{
        left: -30px;
        top: -30px;
        width: 280px;
        height: 280px;
      }}

    &__tagline-text{
      font-size: 54px;
    }

    //&__facts-col{}

    &__in-detail{
    }

    &__in-detail__title{
      text-align: center;
    }

    &__in-detail-wrapper{
    }
  }

  .text-col{
    &__title{
    }

    &__text{
    }

    &__address{
      &::before{
      }
    }
  }

  /*&__parking{
  }

  &__parking-wrapper{
  }

  &__parking-top-text{
    &::before{
    }
  }

  &__parking-middle-text{
  }

  &__parking-bottom-text{
  }*/

  /*
  .facts{
    top: 200px;

    &__list{
      &::before{
        top: -60px;
        left: -320px;
        background-size: 70% 70%;
      }
    }

    &__item{
      &::before{
      }

      &--floor{
        top: 70px;
        left: -255px;

        &::before{
          width: 70px;
          height: 70px;
          left: 33px;
          top: 20px;
        }
      }

      &--flats{
        top: -30px;
        left: -115px;

        &::before{
          width: 100px;
          height: 100px;
          left: 25px;
          top: 5px;
        }
      }

      &--kindergarten-places{
        top: -15px;
        left: -90px;

        &::before{
          width: 90px;
          height: 90px;
          left: 22px;
          top: 20px;
        }
      }

      &--parking-places{
        top: -135px;
        left: -230px;

        &::before{
          width: 120px;
          height: 120px;
          left: 5px;
          top: 0;
        }
      }
    }
  }

  .fact{
    &__count{
      font-size: 80px;
    }

    &__text{
      font-size: 14px;
    }
  }
  */

  .in-detail{
    height: 1140px;
    width: 100%;
    flex-direction: column;
    align-items: center;

    &__col1{
      height: 560px;
      max-width: 560px;
      width: 100%;
    }

    &__col2{
      height: 560px;
      max-width: 560px;
      width: 100%;
    }

    &__wrapper{
      &--col{
      }

      &--row{
      }
    }

    &__item{
      &::before{
      }

      &:hover{
        &::before{
        }

        .in-detail__item-text{
        }
      }

      &--left-top{
      }

      &--left-bottom{
      }

      &--middle{
      }

      &--right1{
      }

      &--right2{
      }

      &--bottom-right{
      }
    }

    &__text-wrapper{
    }

    &__item-title{
    }

    &__item-text{
    }
  }
}

/*@media screen and (max-width: 1020px) {
  .about{
    &__parking{
      height: 400px;
      width: 400px;
    }

    &__parking-wrapper{
      padding-top: 140px;
      height: 400px;
      width: 400px;
      min-width: 400px;
      min-height: 400px;
    }

    &__parking-top-text{
      &::before{
        top: -65px;
        left: 120px;
      }
    }

    &__parking-middle-text{
      font-size: 66px;
    }

    &__parking-bottom-text{
      font-size: 42px;
    }
  }
}*/

@media screen and (max-width: 900px) {
  .about{
    &__wrapper{
      &::before{
        top: 730px;
      }
    }

    &__text-col{
      width: 100%;
    }

    &__in-detail{
      margin-top: 90px;
    }

   /* &__parking-animation-wrapper{
      transition: 1s;
    }

    &__parking{
      margin: 60px auto 0;
    }*/

    &__tagline{
      padding: 0;
      margin: 80px auto 0;
    }
  }
}

@media screen and (max-width: 820px) {
 .about{
   &__wrapper{
     padding: 120px 30px 90px;

     &::before{
       left: -250px;
       top: 80px;
       width: 400px;
       height: 400px;
     }
   }

   &__facts-col{
    margin-top: 60px;
   }
 }


  .text-col{
    &__address{
      font-size: 18px;
    }
  }
/*
  .facts{
    position: static;

    &__list{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 260px;
      align-items: center;
      max-width: 280px;
      margin: 0 auto;
      padding-right: 15px;

      &::before{
        display: none;
      }
    }

    &__item{
      left: auto;
      top: auto;

      &:nth-child(n+3){
        margin-top: 15px;
      }

      &::before{
      }

      &--floor{
        order: 0;

        &::before{
          left: 10px;
        }
      }

      &--flats{
        order: 2;

        &::before{
          top: 10px;
          left: 20px;
        }
      }

      &--kindergarten-places{
        order: 3;
        left: 20px;

        &::before{
          left: 5px;
        }

        .fact__text{
          max-width: 100px;
        }
      }

      &--parking-places{
        order: 1;
        left: 20px;

        &::before{
          left: 5px;
          top: 0;
        }
      }
    }
  }*/
}

@media screen and (max-width: 620px) {
  .mobile-detail{
    display: block;
  }

  .in-detail{
    display: none;
  }

  .about{
    &__tagline-text-wrap{
      &::before{
        left: -20px;
        width: 220px;
        height: 220px;
      }}

    &__tagline-text{
      font-size: 42px;
    }

    &__in-detail__title{
      text-align: left;
    }

    &__in-detail-wrapper{
      margin-top: 20px;
    }
  }
}

/*@media screen and (max-width: 500px) {
  .about{
    &__parking{
      height: 290px;
      width: 290px;
    }

    &__parking-wrapper{
      padding-top: 90px;
      height: 290px;
      width: 290px;
      min-width: 290px;
      min-height: 290px;
    }

    &__parking-top-text{
      &::before{
        width: 100px;
        height: 36px;
        top: -45px;
        left: 100px;
      }
    }

    &__parking-middle-text{
      font-size: 52px;
    }

    &__parking-bottom-text{
      font-size: 36px;
    }
  }
}*/

@media screen and (max-width: 420px) {
  .about{
    &__wrapper{
      padding: 100px 15px 90px;
    }

    /*&__facts-col{
      margin-top: 40px;
    }*/

    &__in-detail{
      margin-top: 65px;
    }

    &__in-detail__title{
      margin-left: 15px;
      line-height: 1.4;
      font-size: 18px;
    }

    &__in-detail-wrapper{
      margin-top: 10px;
    }
  }

  .text-col{
    padding: 0 15px;
    box-sizing: border-box;

    &__text{
      margin-top: 20px;

      p{
        font-size: 14px;
        line-height: 1.75;
      }
    }

    &__address{
      margin-top: 15px;
    }
  }
}