@media screen and (max-width: 1380Px) {
  .gallery{
    &__fotorama-wrap{
      max-width: 780px;
      min-height: 488px;
    }
  }
}

@media screen and (max-width: 1180Px) {
  .gallery{
    &__title{
      &::before{
        top: -30px;
        left: 0;
        color: #c2ae67;
        transform: none;
      }
    }
  }
}

@media screen and (max-width: 1120Px) {
  .gallery{
    &__fotorama{
      .fotorama__arr--prev{
        left: 0;
      }

      .fotorama__arr--next{
        right: 0;
      }
    }
  }
}

@media screen and (max-width: 1024Px) {
  .gallery{
    &__fotorama-wrap{
      min-height: 660px;
    }
  }
}

@media screen and (max-width: 980Px) {
  .gallery{
    &__fotorama-wrap{
      min-height: 620px;
    }
  }
}

@media screen and (max-width: 920Px) {
  .gallery{
    &__fotorama-wrap{
      min-height: 590px;
    }
  }
}

@media screen and (max-width: 820Px) {
  .gallery{
    &__fotorama-wrap{
      min-height: 560px;
    }

    &__wrapper{
      padding: 100px 20px 55px;
    }
  }
}

@media screen and (max-width: 760Px) {
  .gallery{
    &__fotorama-wrap{
      position: absolute;
      left: -9999px;
    }

    &__mobile-gallery{
      display: flex;
      margin-top: 25px;
    }
  }

  .fotorama__fullscreen-icon{
    opacity: 1 !important;
  }
}
@media screen and (max-width: 620Px) {
  .gallery{
    &__title{
      &::before{
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10px;
      }
    }
  }
}
@media screen and (max-width: 420Px) {
  .gallery {
    &__wrapper {
      padding: 65px 10px 40px;
    }
  }

  .mobile-gallery{
    &__item{
      width: ~'calc(33.3333333333% - 1px)';
      margin-left: 1px;

      &:nth-child(n+4){
        margin-top: 1px;
      }
    }
  }
}
