@media screen and (max-width: 820px) {
  .stages{
    &__wrapper{
      padding: 70px 30px 80px;
    }

    &__title{
    }

    &__row-wrap{
    }

    &__row{}

    &__btn{
      &.is-active{
      }
    }

    &__control{}

    &__text-wrap{
    }

    &__text{
    }

    &__images-list{
    }

    &__images-item{
      &:nth-child(n+5){
      }
    }

    &__img{
      height: 130px;
    }

    &__fotorama{
    }
  }
}

@media screen and (max-width: 520px) {
  .stages{
    &__wrapper{
      padding-top: 45px;
      padding-bottom: 50px;
    }

    &__title{
    }

    &__row-wrap{
      margin-top: 25px;
    }

    &__row{}

    &__btn{
      height: 30px;
      padding: 0 10px;
      font-size: 12px;

      &:nth-child(n+2){
        margin-left: 15px;
      }

      &.is-active{
      }
    }

    &__control{}

    &__text-wrap{
      margin-top: 25px;
    }

    &__text{
    }

    &__images-list{
    }

    &__images-item{
      width: ~'calc(50% - 5px)';
      margin-left: 0;

      &:nth-child(n+3){
        margin-top: 10px;
      }

      &:nth-child(2n){
        margin-left: 10px;
      }
    }

    &__img{
      height: 130px;
    }
  }
}

@media screen and (max-width: 420px) {
  .stages{
    &__wrapper{
      padding: 70px 15px 50px;
    }
  }
}