@media all and (max-width: 1110px) {
  .stock{
    display: block;
  }
}

@media all and (max-width: 480px) {
  .stock{
    &__parking-wrap{
      max-width: 300px;
      margin: 0 auto;
    }
  }
}

@media all and (max-width: 410px) {
  .stock{
    &__title-banner-container{
      margin-bottom: -20px;
    }
  }
}