@media all and (max-width: 1110Px) {
  .stock{
    display: block;
  }
}

@media all and (max-width: 480Px) {
  .stock{
    &__parking-wrap{
      max-width: 300px;
      margin: 0 auto;
    }
  }
}

@media all and (max-width: 410Px) {
  .stock{
    &__title-banner-container{
      margin-bottom: -20px;
    }
  }
}