@media screen and (max-width: 1520px) {
  .title-block{
    &__col1{
      margin-left: 0;
      flex-direction: column;
    }

    &__price-col{
      margin-top: 30px;
      padding-left: 35px;
    }

    &__discount-addr-col{
      //margin-top: 50px;
      margin-left: 35px;

      &::after{
        display: none;
      }
    }

    &__price-desc{
      text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    }

    &__price-currency{
      text-shadow: 0 0 3px rgba(0, 0, 0, 1);
    }
  }
}

@media screen and (max-width: 1240px) {
  .title-block{
    &__text-wrap{
      padding-left: 0;
    }

    &__col2{
      width: 100%;
      max-width: 450px;
    }
  }

  .title-popup{
    .form-row{
      &__tooltip-wrap{
        left: auto;
        right: 0;
        top: auto;
        bottom: ~'calc(100% + 10px)';
        transform: none;
        width: auto;
        max-width: none;
      }

      &__tooltip{
        &--shadow{
          &::before, &::after {
            bottom: -5px;
            top: auto;
            left: ~'calc(50% - 5px)';
          }
        }

        &--border{
          &::before, &::after {
            bottom: -5px;
            top: auto;
            left: ~'calc(50% - 5px)';
          }

          &::before{
            bottom: -3px;
            top: auto;
            left: ~'calc(50% - 3px)';
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px){
  .header{
    &__phone-wrap{
      margin-right: 0;
    }

    &__order-call{
      display: none;
    }
  }
}

@media screen and (max-width: 1010px) {
  .fixed-header{
    padding: 0;
  }

  .title-block{
    padding: 0;
    height: 620px;

    &__text-wrap{
      flex-direction: column;
      margin: 0 auto;
      max-width: none;
    }
    
    &__title{
      text-align: center;
    }

    &__price-col{
      margin-top: 0;
    }

    &__discount{
      background-image: url('/img/spring_discount_mob.png');
      height: 87px;
      width: 174px;
    }

    &__price{
      font-size: 80px;
      letter-spacing: -2px;
    }

    &__price-desc{
      font-size: 20px;
      text-shadow: none;
    }

    &__price-currency{
      font-size: 20px;
      text-shadow: none;
    }

    &__col1{
      margin: 0 auto;
      flex-direction: column-reverse;
      align-items: flex-end;
    }

    &__discount-addr-col{
      margin-top: 35px;
      width: auto;
    }

    &__addr{
      display: none;
    }

    &__col2{
      max-width: none;
      padding-top: 180px;
    }

    &__installment{
      margin: auto;
      max-width: 210px;
      padding-left: 75px;
      font-size: 18px;

      &::before{
        top: -7px;
      }
    }
  }

  .title-popup{
    display: block !important;
    margin-top: 25px;
    width: 100%;
    margin-left: 0;

    &__row-1{
      height: 405px;
      box-sizing: border-box;
      background: url("/img/popup_bg_680.jpg") no-repeat right center, #f1c6d0;
    }

    &__row-2{
      padding-bottom: 25px;
      background: url("/img/form_lighter.png?1") no-repeat left bottom / 397px 360px, url("/img/popup_bg.png?1") repeat;
    }

    &__condition{
      margin-top: 150px;
      max-width: 90px;
      font-size: 10px;
      line-height: 1.7em;
    }

    &__close{
      display: none;
    }
  }

  .header{
    padding: 10px;
    background-color: #232323;

    &__logo-wrap{
      padding-bottom: 0;
    }

    &__feedback-wrap{
      flex-grow: 1;
      margin-top: 4px;
    }

    &__nav-item{
      &--fixed{
        &::before{
          top: -18px;
        }
      }
    }

    &__phone-wrap{
      margin-right: 0;
      width: 100%;
    }

    &__consult{
      display: none;
    }

    &__order-call{
      display: none;
    }

    &__phone-number{
      font-size: 16px;
      margin-top: 0;
      text-align: center;
    }
  }

  .popup-input{

    &.error:not(.filling){
      .popup-input{
        &__input{
          background-color: #fff;

          &:focus{
            background-color: #fff;
          }
        }

        &__label{
          &--tel{
            border-color: #d65137;
          }
        }
      }
    }

    &__label{
      &--tel{
        background: linear-gradient(to left, #dbd193, #dbd193 100%);
        background-position: 100% 8px;
        background-size: 1px 34px;
        background-repeat: no-repeat;
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .header{
    position: relative;
    padding: 0;

    &__logo-wrap{
      order: -2;
      padding: 10px;
    }

    &__feedback-wrap{
      margin-top: 0;
      order: -1;
    }

    &__nav-item{
      &--fixed{
        &::before{
          display: none;
        }
      }
    }

    &__nav-wrap{
      display: none;
      position: absolute;
      background-color: #232323;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      top: 61px;
      width: 100%;
      max-width: none;
      left: 0;
      margin: 0;
    }

    &__nav-list{
      margin-top: 35px;
      flex-direction: column;
      padding-bottom: 55px;
    }

    &__nav-item{
      text-align: center;

      &:nth-child(n+2){
        margin-top: 6px;
      }
    }

    &__nav-link{
      display: block;
      padding: 10px 0;
    }

    &__menu-button{
      display: block;
    }
  }
}

@media screen and (max-width: 680px) {
  .title-block{
    height: 592px;
    background: url('/img/title_bg_680.jpg?2') no-repeat center bottom;

    &__text-wrap{
      height: ~'calc(100% - 65px)';
      padding-top: 0;
    }

    &__price-wrap{
    }

    &__popup{
      margin-top: 30px;
    }

    &__price-col{
      padding-top: 30px;
      padding-left: 27px;
    }

    &__price{
      font-size: 63px;
    }

    &__price-desc{
      top: 2px;
      right: ~'calc(100% + 8px)';
      font-size: 16px;
    }

    &__price-currency{
      font-size: 16px;
      left: ~'calc(100% + 8px)';

      &--up{
        top: 95%;
        left: auto;
        bottom: auto;
        right: 0;
      }
    }

    &__discount-addr-col{
      margin-top: 30px;
    }

    &__col2{
      padding-bottom: 30px;
    }
  }

  .title-popup{
    &__gift{
      font-size: 57px;
      letter-spacing: 3.5px;
    }

    &__gift-row-2{
      font-size: 30px;
      letter-spacing: 2px;
    }
  }
}

@media screen and (max-width: 580px) {
  .title-popup{
    &__row-1{
      background-image: url('/img/popup_bg_360.jpg');
    }
  }
}

@media screen and (max-width: 480px) {
  .title-popup{
    &__input-rows{
      padding-left: 0;
      margin: 20px auto 0;
    }

    &__row{
      &--btn{
        text-align: center;
      }
    }

    &__interest-text{
      text-align: center;
    }
  }

  .popup-input{
    &__input{
      background-color: #ffffff;

      &:focus{
        background-color: #fff;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .title-block{
    background-image: url('/img/title_bg_360.jpg?2');
  }
}