 @media screen and (min-width: 1660px) {
  .title-block{
    background-position: 50% 60%;
  }
}


@media screen and (max-width: 1380px) {
  .title-block{
    &__col1{
      margin-left: 0;
      flex-direction: column;
    }

    &__box-prices-wrap{
      margin-top: 20px;
      margin-left: 0;
    }
  }
}


 @media screen and (max-width: 1300px){
   .header{
     &__phone-wrap{
       margin-right: 0;
     }

     &__order-call{
       display: none;
     }
   }
 }


@media screen and (max-width: 1240px) {
  .title-block{
    &__text-wrap{
      padding-left: 0;
    }
  }

  .title-popup{
    .form-row{
      &__tooltip-wrap{
        left: auto;
        right: 0;
        top: auto;
        bottom: ~'calc(100% + 10px)';
        transform: none;
        width: auto;
        max-width: none;
      }

      &__tooltip{
        &--shadow{
          &::before, &::after {
            bottom: -5px;
            top: auto;
            left: ~'calc(50% - 5px)';
          }
        }

        &--border{
          &::before, &::after {
            bottom: -5px;
            top: auto;
            left: ~'calc(50% - 5px)';
          }

          &::before{
            bottom: -3px;
            top: auto;
            left: ~'calc(50% - 3px)';
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1110px) {
  .fixed-header{
    padding: 0;
  }

  .title-block{
    padding: 0;
    height: 620px;

    &__title{
      text-align: center;
    }

    &__box-prices-wrap{
      margin-top: 30px;
    }

    &__text-wrap{
      flex-direction: column;
      align-items: center;
      max-width: none;
      height: ~'calc(100% - 130px)';
    }

    &__col2{
      width: 100%;
    }
  }

  .title-popup{
    display: none;
    margin-top: 25px;
    width: 100%;
    margin-left: 0;

    &__meter-price-wrap{
      opacity: 1;
      transform: translate(0);
    }

    &__feedback-row{
      &.mobile{
        padding: 15px 30px;
      }
    }

    &__close{
      display: none;
    }
  }

  .header{
    padding: 10px;
    background-color: #232323;

    &__logo-wrap{
      padding-bottom: 0;
    }

    &__feedback-wrap{
      flex-grow: 1;
      margin-top: 4px;
    }

    &__nav-item{
      &--fixed{
        &::before{
          top: -18px;
        }
      }
    }

    &__phone-wrap{
      margin-right: 0;
      width: 100%;
    }

    &__consult{
      display: none;
    }

    &__order-call{
      display: none;
    }

    &__phone-number{
      font-size: 16px;
      margin-top: 0;
      text-align: center;
    }
  }

  .popup-input{
    &.error:not(.filling){
      .popup-input{
        &__input{
          background-color: #fff;

          &:focus{
            background-color: #fff;
          }
        }

        &__label{
          &--tel{
            border-color: #d65137;
          }
        }
      }
    }

    &__label{
      &--tel{
        background: linear-gradient(to left, #dbd193, #dbd193 100%);
        background-position: 100% 8px;
        background-size: 1px 34px;
        background-repeat: no-repeat;
      }
    }
  }
}


@media screen and (max-width: 940px) {
  .header{
    position: relative;
    padding: 0;

    &__logo-wrap{
      order: -2;
      padding: 10px;
    }

    &__feedback-wrap{
      margin-top: 0;
      order: -1;
    }

    &__nav-item{
      &--fixed{
        &::before{
          display: none;
        }
      }
    }

    &__nav-wrap{
      display: none;
      position: absolute;
      background-color: #232323;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      top: 61px;
      width: 100%;
      max-width: none;
      left: 0;
      margin: 0;
    }

    &__nav-list{
      margin-top: 35px;
      flex-direction: column;
      padding-bottom: 55px;
    }

    &__nav-item{
      text-align: center;

      &:nth-child(n+2){
        margin-top: 6px;
      }
    }

    &__nav-link{
      display: block;
      padding: 10px 0;
    }

    &__menu-button{
      display: block;
    }
  }
}


@media screen and (max-width: 680px) {
  .title-block{
    height: 592px;
    background: url('/img/title_fon_680-winter.jpg?3') no-repeat center bottom;

    &__text-wrap{
      height: ~'calc(100% - 105px)';
    }

    &__col1{
      align-items: center;
    }

    &__col2{
      padding-bottom: 30px;
    }

    &__title{
      max-width: 290px;
      margin-top: -3px;
      font-size: 34px;
    }

    &__discount-condition{
      font-size: 28px;
    }

    &__box-prices-wrap{
      margin-top: 20px;
    }
  }
}


@media screen and (max-width: 480px) {
  .title-popup{
    &__input-rows{
      padding-left: 0;
      margin: 20px auto 0;
    }

    &__row{
      &--btn{
        text-align: left;
      }
    }

    &__interest-text{
      text-align: center;
    }
  }

  .popup-input{
    &__input{
      background-color: #ffffff;

      &:focus{
        background-color: #fff;
      }
    }
  }
}


@media screen and (max-width: 410px) {
  .title-popup{
    &__meter-price{
      font-size: 71px;

      &--bg{
        text-shadow: 0 1px 2px rgba(17,31,65,0.89);
      }
    }

    &__tenge{
      font-size: 22px;

      &::after{
        font-size: 16px;
      }
    }

    &__meter{
      font-size: 23px;
    }
  }
}


@media screen and (max-width: 360px) {
  .title-block{
    background-image: url('/img/title_fon_360-winter.jpg?3');
  }
  .title-popup{
    &__interest-text {
      &.mobile {
        text-align: left;
      }
      }
  }
}
